<!DOCTYPE HTML>
<!--

-->
<html>

<head>
	<title>Islam's Portfolio</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="is-preload">

	<!-- Nav -->
	<nav id="nav">
		<ul class="container">
			<li><a href="index.html"><strong>Home</strong></a></li>
			<li><a href="#top">Top</a></li>
			<li><a href="#work">Work</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>

	<!-- Home -->
	<article id="top" class="wrapper style1">
		<div class="container">
			<div class="row">
				<div class="col-4 col-5-large col-12-medium">
					<span class="image fit"><img src="static/images/pic00.jpg" alt="" /></span>
				</div>
				<div class="col-8 col-7-large col-12-medium">
					<header>
						<h1>Hi. I'm <strong>Islam Abouzahou</strong>.</h1>
					</header>
					<p>And I am a <strong>Software Engineer</strong>, <br /> with a Bachelor of Science in Computer
						Science<br />
						Welcome to my Portfolio
					</p>
					<a href="#work" class="button large scrolly">Learn about what I do</a>
				</div>
			</div>
		</div>
	</article>

	<!-- Work -->
	<article id="work" class="wrapper style2">
		<div class="container">
			<header>
				<h2>Work</h2>
				<p>Some of the Work that i can do</p>
			</header>

			<div class="row aln-center">
				<div class="col-4 col-6-medium col-12-small">
					<section class="box style1">
						<span class="icon featured fa-calendar-check"></span>
						<h3>Software Engineering</h3>
						<p>Develop, design and test software solutions based on the needs of the client</p>
					</section>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<section class="box style1">
						<span class="icon solid featured fa-camera-retro"></span>
						<h3>Machine Learning (A.I)</h3>
						<p>Using A.I algorithms to make predictions or decisions based on data analysis.</p>
					</section>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<section class="box style1">
						<span class="icon featured fa-clock"></span>
						<h3>Automation Testing & Scripting</h3>
						<p>Create and use scripts to automate tasks and execution of tests for applications</p>
					</section>
				</div>
			</div>
			<footer>
				<p>Need to inquire about a specific task that isn't listed?
					<a href="#contact"> Contact Me </a>
				</p>
				<a href="#portfolio" class="button large scrolly">See some of my recent work</a>
			</footer>
		</div>
	</article>

	<!-- Portfolio -->
	<article id="portfolio" class="wrapper style3">
		<div class="container">
			<header>
				<h2>Here’s some stuff I made recently.</h2>
				<p>A Sneak Peak on what I have been up to lately.</p>
			</header>
			<div class="row">
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
						<h3>Scripting with Python</h3>
						<p>Created Multiple Scripts that run using python that does various tasks such as file
							manipulation, web scraping, and more.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a class="image featured"><img src="static/images/pic02.jpg" alt="" /></a>
						<h3>Task Automation</h3>
						<p>Made programs that automate tasks such as SMS , emails etc.</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a class="image featured"><img src="static/images/pic03.jpg" alt="" /></a>
						<h3>Test & Debug Automation</h3>
						<p>Did automation testing on both software programs using scripts and on web pages using
							Selenium</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a class="image featured"><img src="static/images/pic04.jpg" alt="" /></a>
						<h3>Security Password Checker</h3>
						<p>Created a fun little yet powerful password checker that checks whether or not a password was
							vulnerable</p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a class="image featured"><img src="static/images/pic05.jpg" alt="" /></a>
						<h3>Web server Development using python</h3>
						<p>Using python to program web servers' backend </p>
					</article>
				</div>
				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<a class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
						<h3>Machine Learning & Data Science</h3>
						<p>Used different datasets to train and create models for various usecases , such as data
							prediction , collection etc.</p>
					</article>
				</div>
			</div>
			<footer>
				<p>Want to check more of my projects/tests?
					<a href="https://github.com/Abouzahou/Projects"> My Github </a>
				</p>
				<a href="#contact" class="button large scrolly">Get in touch with me</a>
			</footer>
		</div>
	</article>

	<!-- Contact -->
	<article id="contact" class="wrapper style4">
		<div class="container medium">
			<header>
				<h2>Contact Me</h2>
				<p>Feel free to drop me a message with any inquires</p>
			</header>
			<div class="row">
				<div class="col-12">
					<form method="post" action="submit_form">
						<div class="row">
							<div class="col-6 col-12-small">
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div class="col-6 col-12-small">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="col-12">
								<input type="text" name="subject" id="subject" placeholder="Subject" />
							</div>
							<div class="col-12">
								<textarea name="message" id="message" placeholder="Message"></textarea>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
									<li><input type="reset" value="Clear Form" class="alt" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<div class="col-12">
					<hr />
					<h3>Find me on ...</h3>
					<ul class="social">

						<li><a href="https://www.linkedin.com/in/islam-abouzahou001/"
								class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>

						<li><a href="https://github.com/Abouzahou" class="icon brands fa-github"><span
									class="label">Github</span></a></li>
						<!--
								<li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
								<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon brands fa-skype"><span>Skype</span></a></li>
								<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>
								-->
					</ul>
					<hr />
				</div>
			</div>
			<footer>
				<ul id="copyright">
					<li>&copy; Coded By Islam Abouzahou. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
		</div>
	</article>

	<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.scrolly.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

</body>

</html>